//registry.npmjs.org/:_authToken=2140c43b-fb5f-4d97-991d-352e83477828
registry=https://artifact.tecnalia.com/artifactory/api/npm/digicon-npm-dev/
_auth="am9uLmxvcGV6ZGVndWVyZW5hQHRlY25hbGlhLmNvbTpBUDlhN2RCZWdRaFZNaHhMRGhHVHlhQ3NmRXg="
email=jon.lopezdeguerena@tecnalia.com
always-auth=true
